.weekday {
    color: tomato;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lectures {
    border: 1px solid lightgrey;
    background-color: lightgrey;
    margin-bottom: 10px;
}
