<ion-header>
  <ion-toolbar>
    <ion-title>Stundenplan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides class="slidedesign" pager="true" style="background-color: #a2a4ab; width:100%; height: 100px;" [options]="slideOpts">
    <ion-slide>
      <ion-item style="width: 100%">
        <ion-label text-uppercase>montag</ion-label>
      </ion-item>
      <ion-item style="width: 100%">
        <p no-margin><ion-label>08:00 - 09:30 Uhr</ion-label></p>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <h2>Dienstag</h2>
    </ion-slide>
    <ion-slide>
      <h2>Mittwoch</h2>
    </ion-slide>
    <ion-slide>
      <h2>Donnerstag</h2>
    </ion-slide>
    <ion-slide>
      <h2>Freitag</h2>

    </ion-slide>
  </ion-slides>
  <ion-item class="btn-download" lines="none">
    <ion-button style="width: 100%; align-content: center" expand="block" ng-click="download()">Download Stundenplan</ion-button>
  </ion-item>
</ion-content>
