 <ion-header id="speisepläne_out">
    <ion-toolbar class="headersizing">
    <ion-title>
      <img alt="logo" src="assets/studieren_im_markt_portal_logo_blank.svg" class="headerlogo"/>
    </ion-title>
    <ion-title class="headertitle">
      Essensplan
    </ion-title>
    <ion-buttons end>
        <ion-button class="headerbutton" (click)="goToAdminPage()">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content padding="true">
    <ion-item lines="none" class="center">
      <ion-label color="medium"><ion-icon name="pizza"></ion-icon>
        {{formattedDate}}
      </ion-label>
    </ion-item>
    <div class=spacer></div>
    <h3 id="ShowKW" class="h3size_center">{{foodMenu[0].meal.place.placeName}} KW {{firstDayofWeek | date: 'w'}}, {{firstDayofWeek | date: 'dd.MM.'}} -
    {{lastDayofWeek | date: 'dd.MM.'}}</h3>
    <div class="spacer2" id="ContSpeisepläne"></div>
    <hr class="divider">
    <ion-text color="Primary">
    <ion-grid>
      <ion-row *ngFor="let day of foodMenu">
        <ion-col size="2">
          <div id="Di">
            <p>{{day.date | date: 'EEEEEE:'}}</p>
          </div>
        </ion-col>
        <ion-col size="7">
          <div id="DiMeal">
            <p>{{day.meal.mealName}} {{day.meal.description}}</p>
          </div>
        </ion-col>
        <ion-col size="3">
          <div id="DiPreis">
            <p class="align-end">{{day.price | currency: 'EUR' : 'symbol' : '1.2-2' : 'de'}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-text>
    <div class="spacer"></div>
    <div id="Auswahl_buttons" class="centered_buttons">
      <ion-button id="Button_show_Mensa" (click)="placeSwap(1)" ><ion-icon name="arrow-dropleft"></ion-icon>Mensa</ion-button>
      <ion-button id="Button_show_Lennarts" (click)="placeSwap(2)">Lennards<ion-icon name="arrow-dropright"></ion-icon></ion-button>
    </div>
  </ion-content>