 <ion-header id="speisepläne_out">
    <ion-toolbar>
      <ion-title>Speisepläne BA Glauchau</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding="true">
    <ion-item lines="none" class="center">
      <ion-label color="medium">
        {{formattedDate}}
      </ion-label>
    </ion-item>
    <div class=spacer></div>
    <h3 id="ShowKW" style="color:#000000;" class="center">Mensa KW {{weekNumber}}:</h3>
    <div class="spacer"></div>
    <ion-text color="Primary">
      <p>Montag:</p>
      <p>Dienstag:</p>
      <p>Mittwoch:</p>
      <p>Donnerstag:</p>
      <p>Freitag:</p>
    </ion-text>
    <div class="spacer"></div>
    <div id="Auswahl_buttons" class="centered_buttons">
      <ion-button id="Button_show_Mensa"><ion-icon name="arrow-dropleft"></ion-icon>Mensa</ion-button>
      <ion-button id="Button_show_Lennarts">Lennart's<ion-icon name="arrow-dropright"></ion-icon></ion-button>
    </div>
  </ion-content>

