<ion-header>
  <ion-toolbar class="headersizing">
    <ion-title>
      <img alt="logo" src="assets/studieren_im_markt_portal_logo_blank.svg" class="headerlogo"/>
    </ion-title>
    <ion-title class="headertitle">
      Essensplan
    </ion-title>
    <ion-buttons end>
        <ion-button class="headerbutton" (click)="goToAdminPage()">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">

</ion-content>