.centered_buttons { display: flex; justify-content: center; }
.spacer {width: 300px; height: 10px;}
.spacer2 {width: 300px; height: 10px;}
.center {text-align: center;}
.align-end {display: flex; justify-content: flex-end;}
.h3size_center {font-size: medium; text-align: center; color: #000000; font-weight: bold;}
.divider {background-color: black; width: 80%;}
