<ion-item lines="none">
  <h1>News Feed</h1>
  <ion-button (click)="openSelection()">
    <ion-icon name="funnel"></ion-icon>
  </ion-button>
  <ion-button (click)="createNewPost()" *ngIf="routeGuard.userIsAllowedToNavigateTo('/tabs/admin-new-post')">
    <ion-icon name="create"></ion-icon>
  </ion-button>
</ion-item>

<ng-container *ngIf="newsList">
  <ion-card *ngFor="let newsItem of newsList">
    <ion-card-header>
      <ion-card-title color="primary">{{newsItem.title}}</ion-card-title>
      <ion-card-subtitle>{{newsItem.postGroup.name}} am {{newsItem.date |date : 'dd.MM.yyyy hh:mm'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{newsItem.message}}
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>