<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backbutton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headertitleback">Impressum</ion-title>
	<ion-title class="headerlogoback">
		<img alt="logo" src="assets/studieren_im_markt_portal_logo_blank.svg" class="headerlogosizing"/>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="bgdiv">
<p style="font-size:14pt;"><b>Staatliche Studienakademie Glauchau
<br>Kopernikusstra&szlig;e 51
<br>D-08371 Glauchau/Sachsen</b></p>
<p>Tel.:	<a href= "tel:+49 (0) 03763 / 173 0"> +49 (0) 03763 / 173 0</a>
<br>Fax: 	+49 (0) 03763 / 173 180
<br>E-Mail: 	<a href="mailto:info@ba-glauchau.de">info@ba-glauchau.de</a>
<br>Internet:	<a style="color:white;" href="https://www.ba-glauchau.de">www.ba-glauchau.de</a>
<br>
<br>Die Berufsakademie Sachsen ist eine Anstalt des &ouml;ffentlichen Rechts und wird durch den Pr&auml;sidenten vertreten. Die Staatliche Studienakademie Glauchau ist Teil der Berufsakademie Sachsen und wird vertreten durch den Direktor Prof. Dr. Konrad Rafeld.
</p>
  </div>
</ion-content>
