<ion-header>
  <ion-toolbar class="headersizing">
    <ion-buttons slot="start">
      <ion-back-button class="backbutton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headertitleback">Einstellungen</ion-title>
	<ion-title class="headerlogoback">
		<img alt="logo" src="assets/studieren_im_markt_portal_logo_blank.svg" class="headerlogo"/>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="userSettings">

        



    </div>
    <div *ngIf="!userSettings">
        <b>Hier muss noch eine Ladeanzeige hin...</b>
        <!-- TODO Ladeanzeige -->
    </div>

</ion-content>
