<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/admin-food-planer"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="inputMenuID == 0; else elseMenu">Neues Menü anlegen</ion-title>
    <ng-template #elseMenu>
      <ion-title>Menü bearbeiten</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="menu">

    <ion-item lines="full">
      <ion-label>Datum:</ion-label>
      <ion-button icon-right>
        <ion-datetime class="datepicker" #datePicker placeholder="Datum" day-short-names="Son, Mon, Die, Mit, Don, Fre, Sam" display-format="DDD DD.MM.YYYY" picker-format="DDD DD.MM.YYYY" [(ngModel)]="menu.date"></ion-datetime>
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-item>
    
    
    <ion-item lines="full">
      <ion-label position="floating">Name:</ion-label>
      <ion-input #nameInput required="true" name="name" inputmode="text" maxlength="40" [(ngModel)]="menu.meal.mealName" autocapitalize="on"></ion-input>
      <ion-button color="light" (click)="clearInput(nameInput)" class="clearButton" *ngIf="false">
        <ion-icon color="danger" name="close" type="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

      
    
    <ion-item lines="full">
        <ion-label position="floating">Beschreibung:</ion-label>
        <ion-input clearInput required="true" name="name" inputmode="text" maxlength="40" [(ngModel)]="menu.meal.description" autocapitalize="on"></ion-input>
      </ion-item>

    
    
    <ion-item lines="full">
        <ion-label position="floating">Preis:</ion-label>
        <ion-input required="true" name="name" inputmode="number" max="10" min="0" [(ngModel)]="menu.price" autocapitalize="on"></ion-input>
      </ion-item>




    <ion-button (click)="save()">
      Speichern
    </ion-button>
  </div>

</ion-content>
