// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #009ee3;
  --ion-color-primary-rgb: 0,158,227;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #008bc8;
  --ion-color-primary-tint: #1aa8e6;

  --ion-color-secondary: #06629c;
  --ion-color-secondary-rgb: 6,98,156;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #055689;
  --ion-color-secondary-tint: #1f72a6;

  --ion-color-tertiary: #09497d;
  --ion-color-tertiary-rgb: 9,73,125;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #08406e;
  --ion-color-tertiary-tint: #225b8a;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #e4e4e4;
  --ion-color-light-rgb: 228,228,228;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #c9c9c9;
  --ion-color-light-tint: #e7e7e7;
}

.weekday {
  color: var(--ion-color-dark);
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lectures {
  background-color: var(--ion-color-primary);
  color: white;
  margin-bottom: 10px;
  padding: 4px;
  transition: all 0.5s ease-out;
}

.lecturecenter {
  text-align: center;
}

.lectures:hover {
  background-color: var(--ion-color-primary-shade);
}
/** Backgrounddiv with Corporate Colors **/
.bgdiv {
  background-color: var(--ion-color-primary);
  color: white;
  margin-bottom: 10px;
  padding: 1px 10px 10px 10px;
}

/** Link colors **/
a {
  color: var(--ion-color-dark);
}

a:link {
  color: var(--ion-color-dark);
}

/** Header Title Layout **/
.headersizing {
  height: 75px;
}

.headerbutton {
  position: absolute;
  right: 2vw;
  top: -65px;
}

.headerlogo {
  position: relative;
  top: 2px;
  height: 40px;
}

.headertitle {
  position: relative;
  top: -41px;
  left: 24px;
}

/** iOS Header Title Layout **/
.ios .headersizing {
  height: 50px;
}

.ios .headerlogo {
  display: none;
}

.ios .headerlogoback {
  display: none;
}

.ios .headertitle {
  width: 300px;
  top: -10px;
  left: 0px;
}

.ios .headertitleback {
  width: 300px;
  top: -10px;
  left: -63px;
}

.ios .headerbutton {
  right: 2vw;
  top: -37px;
}

.ios .menuheader {
  height: 50px;
}

.ios .menutitle {
  top: 6px;
  left: 0px;
}

/** Header Title Layout with Back-Button **/
.backbutton {
  position: relative;
  top: -10px;
  left: 0px;
}

.headertitleback {
  position: relative;
  top: 5px;
  left: 3px;
}

.headerlogoback {
  position: relative;
  top: -22px;
  left: -21px;
}

/** Menüheaderlayout **/
.menuheader {
  height: 75px;
}

.menutitle {
  position: relative;
  top: 17px;
  left: 25px;
}