<ion-header>
  <ion-toolbar>
    <ion-title>Datenschutzerkl&auml;rung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<p style="font-size:24pt;"><b>Datenschutzerkl&auml;rung</b></p>

<p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-
Datenschutzgrundverordnung (DSGVO), ist:

<br><p><b>Staatliche Studienakademie Glauchau
<br>Kopernikusstra&szlig;e 51
<br>08371 Glauchau</b></p>

<p style="font-size:18pt;"><b>Ihre Betroffenenrechte</b></p>

<p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten k&ouml;nnen Sie
jederzeit folgende Rechte aus&uuml;ben:
<br>
<br>- Auskunft &uuml;ber Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15
DSGVO),
<br>- Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),
<br>- L&ouml;schung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),
<br>- Einschr&auml;nkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher
Pflichten noch nicht l&ouml;schen d&uuml;rfen (Art. 18 DSGVO),
<br>- Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und
<br>- Daten&uuml;bertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen
Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).
<br>
<br>Sofern Sie uns eine Einwilligung erteilt haben, k&ouml;nnen Sie diese jederzeit mit Wirkung f&uuml;r die
Zukunft widerrufen.
<br>
<br>Sie k&ouml;nnen sich jederzeit mit einer Beschwerde an eine Aufsichtsbeh&ouml;rde wenden, z. B. an
die zust&auml;ndige Aufsichtsbeh&ouml;rde des Bundeslands Ihres Wohnsitzes oder an die f&uuml;r uns als
verantwortliche Stelle zust&auml;ndige Beh&ouml;rde.
<br>
<br>Eine Liste der Aufsichtsbeh&ouml;rden (f&uuml;r den nicht&ouml;ffentlichen Bereich) mit Anschrift finden Sie
unter: <a href= "https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-
node.html"> https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-
node.html.</a></p>

<p style="font-size:18pt;"><b>Erfassung allgemeiner Informationen beim Besuch unserer mobilen Anwendung und Website</b></p>

<p><b>Art und Zweck der Verarbeitung:</b>
<br>Wenn Sie auf unsere mobile Anwendung und/oder Website zugreifen, d.h., wenn Sie sich
nicht registrieren oder anderweitig Informationen &uuml;bermitteln, werden automatisch
Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten
etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres
Internet-Service-Providers, Ihre IP-Adresse und &auml;hnliches.
<br>
<br>Sie werden insbesondere zu folgenden Zwecken verarbeitet:
<br>
<br>- Sicherstellung eines problemlosen Verbindungsaufbaus der mobilen Anwendung
und/oder Website,
<br>- Sicherstellung einer reibungslosen Nutzung unserer mobilen Anwendung und/oder
Website,
<br>- Auswertung der Systemsicherheit und -stabilit&auml;t sowie
<br>- zu weiteren administrativen Zwecken.
<br>
<br>Wir verwenden Ihre Daten nicht, um R&uuml;ckschl&uuml;sse auf Ihre Person zu ziehen. Informationen
dieser Art werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die
dahinterstehende Technik zu optimieren.
<br>
<br><b>Rechtsgrundlage:</b>
<br>Die Verarbeitung erfolgt gem&auml;&szlig; Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten
Interesses an der Verbesserung der Stabilit&auml;t und Funktionalit&auml;t unserer mobilen
Anwendung und Website.
<br>
<br><b>Empf&auml;nger:</b>
<br>Empf&auml;nger der Daten sind ggf. technische Dienstleister, die f&uuml;r den Betrieb und die Wartung
unserer mobilen Anwendung und als Auftragsverarbeiter t&auml;tig werden.
<br>
<br><b>Speicherdauer:</b>
<br>Die Daten werden gel&ouml;scht, sobald diese f&uuml;r den Zweck der Erhebung nicht mehr
erforderlich sind. Dies ist f&uuml;r die Daten, die der Bereitstellung der Webseite dienen,
grunds&auml;tzlich der Fall, wenn die jeweilige Sitzung beendet ist.
<br>
<br><b>Bereitstellung vorgeschrieben oder erforderlich:</b>
<br>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch
vertraglich vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die
Funktionsf&auml;higkeit unserer mobilen Anwendung und Website nicht gew&auml;hrleistet. Zudem
k&ouml;nnen einzelne Dienste und Services nicht verf&uuml;gbar oder eingeschr&auml;nkt sein. Aus diesem
Grund ist ein Widerspruch ausgeschlossen.</p>

<p style="font-size:18pt;"><b>Local Storage</b></p>

<p><b>Art und Zweck der Verarbeitung:</b>
<br>Wir verwenden die Local Storage Technik (auch &bdquo;Lokale Daten&ldquo; und &bdquo;Lokaler Speicher&ldquo;
genannt. Dabei werden Daten lokal im Cache Ihres Browsers gespeichert, die auch nach dem
Schlie&szlig;en des Browser-Fensters oder dem Beenden des Programms - soweit sie den Cache
nicht l&ouml;schen - weiterhin bestehen und ausgelesen werden k&ouml;nnen.
<br>
<br>Der Local Storage erm&ouml;glicht es, dass Ihre Pr&auml;ferenzen bei der Nutzung unserer mobilen
Anwendung und/oder Website auf Ihrem Rechner gespeichert und von Ihnen genutzt
werden k&ouml;nnen. Die Daten aus dem Local Storage werden z.B. verwendet, um Ihnen ... zu
erm&ouml;glichen. Dabei werden folgende Informationen als lokale Daten hinterlegt: IP-Adresse,
verwendeter Browser und Betriebssystem.
<br>
<br>In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre
Einwilligung eine Verkn&uuml;pfung mit personenbezogenen Daten hergestellt.
<br>
<br>Local-Storage-Inhalte verwalten Sie im Browser &uuml;ber die Einstellungen zur &bdquo;Chronik&ldquo; bzw. zu
&bdquo;Lokalen Daten&ldquo;, je nachdem welchen Browser Sie verwenden. Wir weisen darauf hin, dass
es dann ggf. zu Funktionseinschr&auml;nkungen kommen kann. Bitte verwenden Sie die
Hilfefunktionen Ihres Internetbrowsers, um zu erfahren, wie Sie diese Einstellungen &auml;ndern
k&ouml;nnen. Bitte beachten Sie, dass es dann ggf. zu Funktionseinschr&auml;nkungen kommen kann.
<br>
<br><b>Rechtsgrundlage:</b>
<br>Die Verarbeitung erfolgt gem&auml;&szlig; Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten
Interesses an der Verbesserung der Stabilit&auml;t und Funktionalit&auml;t unserer mobilen
Anwendung und Website.</p>

<p style="font-size:18pt;"><b>Registrierung auf unserer mobilen Anwendung und/oder Website</b></p>

<p><b>Art und Zweck der Verarbeitung:</b>
<br>Bei der Registrierung f&uuml;r die Nutzung unserer personalisierten Leistungen werden einige
personenbezogene Daten erhoben, wie Name, Matrikelnummer, Kontakt- und
Kommunikationsdaten (z. B. E-Mail-Adresse). Sind Sie bei uns registriert, k&ouml;nnen Sie auf
Inhalte und Leistungen zugreifen, die wir nur registrierten Nutzern anbieten. Angemeldete
Nutzer haben zudem die M&ouml;glichkeit, bei Bedarf die bei Registrierung angegebenen Daten
jederzeit zu &auml;ndern oder zu l&ouml;schen. Selbstverst&auml;ndlich erteilen wir Ihnen dar&uuml;ber hinaus
jederzeit Auskunft &uuml;ber die von uns &uuml;ber Sie gespeicherten personenbezogenen Daten.
<br>
<br><b>Rechtsgrundlage:</b>
<br>Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage einer
Einwilligung des Nutzers (Art. 6 Abs. 1 lit. a DSGVO).
<br>Dient die Registrierung der Erf&uuml;llung eines Vertrages, dessen Vertragspartei die betroffene
Person ist oder der Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen, so ist zus&auml;tzliche
Rechtsgrundlage f&uuml;r die Verarbeitung der Daten Art. 6 Abs. 1 lit. b DSGVO.
<br>
<br><b>Empf&auml;nger:</b>
<br>Empf&auml;nger der Daten sind ggf. technische Dienstleister, die f&uuml;r den Betrieb und die Wartung
unserer mobilen Anwendung und Website als Auftragsverarbeiter t&auml;tig werden.
<br>
<br><b>Speicherdauer:</b>
<br>Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende
Einwilligung vorliegt. Danach werden sie gel&ouml;scht, soweit keine gesetzlichen
Aufbewahrungspflichten entgegenstehen. Zur Kontaktaufnahme in diesem Zusammenhang
nutzen Sie bitte die am Ende dieser Datenschutzerkl&auml;rung angegebenen Kontaktdaten.
<br>
<br><b>Bereitstellung vorgeschrieben oder erforderlich:</b>
<br>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer
Einwilligung. Ohne die Bereitstellung Ihrer personenbezogenen Daten k&ouml;nnen wir Ihnen
keinen Zugang auf unsere angebotenen Inhalte und Leistungen gew&auml;hren.

<p style="font-size:18pt;"><b>Newsfeed</b></p>

<p><b>Art und Zweck der Verarbeitung:</b>
<br>Ihre Daten werden ausschlie&szlig;lich dazu verwendet, Ihnen die abonnierten Newsfeeds in der
mobilen Anwendung anzuzeigen.
<br>
<br>F&uuml;r den Empfang der Newsfeeds ist lediglich die Registrierung in unserer mobilen
Anwendung oder Website erforderlich.
Es werden keine weiteren Daten erhoben.
<br>
<br><b>Rechtsgrundlage:</b>
<br>Auf Grundlage Ihrer ausdr&uuml;cklich erteilten Einwilligung (Art. 6 Abs. 1 lit. a DSGVO),
&uuml;bersenden wir Ihnen regelm&auml;&szlig;ig unsere Newsfeeds bzw. vergleichbare Informationen &uuml;ber
unsere mobile Anwendung und/oder Website.
<br>
<br>Sie k&ouml;nnen sich jederzeit direkt auf der mobilen Anwendung und Website vom jeweiligen Newsfeed
abmelden oder uns Ihren Widerruf &uuml;ber die am Ende dieser Datenschutzhinweise
angegebene Kontaktm&ouml;glichkeit mitteilen.
<br>
<br><b>Speicherdauer:</b>
<br>Die Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende
Einwilligung vorliegt. Danach werden sie gel&ouml;scht.</p>

<p style="font-size:18pt;"><b>Kontaktformular</b></p>

<p><b>Art und Zweck der Verarbeitung:</b>
Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen Kommunikation mit
Ihnen gespeichert. Hierf&uuml;r ist die Angabe einer validen E-Mail-Adresse sowie Ihres Namens
erforderlich. Diese dient der Zuordnung der Anfrage und der anschlie&szlig;enden Beantwortung
derselben. Die Angabe weiterer Daten ist optional.
<br>
<br><b>Rechtsgrundlage:</b>
<br>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt auf der Grundlage
eines berechtigten Interesses (Art. 6 Abs. 1 lit. f DSGVO).
<br>
<br>Durch Bereitstellung des Kontaktformulars m&ouml;chten wir Ihnen eine unkomplizierte
Kontaktaufnahme erm&ouml;glichen. Ihre gemachten Angaben werden zum Zwecke der
Bearbeitung der Anfrage sowie f&uuml;r m&ouml;gliche Anschlussfragen gespeichert.
<br>
<br>Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen, erfolgt die Verarbeitung
der in das Kontaktformular eingegebenen Daten zur Durchf&uuml;hrung vorvertraglicher
Ma&szlig;nahmen (Art. 6 Abs. 1 lit. b DSGVO).
<br>
<br><b>Empf&auml;nger:</b>
<br>Empf&auml;nger der Daten sind ggf. Auftragsverarbeiter.
<br>
<br><b>Speicherdauer:</b>
<br>Daten werden sp&auml;testens 6 Monate nach Bearbeitung der Anfrage gel&ouml;scht.
<br>
<br><b>Bereitstellung vorgeschrieben oder erforderlich:</b>
<br>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir k&ouml;nnen Ihre Anfrage
jedoch nur bearbeiten, sofern Sie uns Ihren Namen, Ihre E-Mail-Adresse und den Grund der
Anfrage mitteilen.</p>

<p style="font-size:18pt;"><b>Verschl&uuml;sselung</b></p>

<p>Um die Sicherheit Ihrer Daten bei der &Uuml;bertragung zu sch&uuml;tzen, verwenden wir dem
aktuellen Stand der Technik entsprechende Verschl&uuml;sselungsverfahren (z. B. SSL) &uuml;ber
HTTPS.
<br></p>
<p style="font-size:18pt;"><b>Links zu externen Inhalten</b></p>

<p>Wir verwenden im Rahmen unseres Internetauftritts zur Unterst&uuml;tzung unserer Inhalte
verschiedene Links zu fremden Angeboten. Bitte beachten Sie, dass Sie mit einem Klick auf
den Link eine andere Webseite mit anderen Datenschutzbestimmungen eintragen. Wir
haben keinen Einfluss auf die dortige Datenverarbeitung.</p>

<p style="font-size:18pt;"><b>&Auml;nderung unserer Datenschutzbestimmungen</b></p>

<p>Wir behalten uns vor, diese Datenschutzerkl&auml;rung anzupassen, damit sie stets den aktuellen
rechtlichen Anforderungen entspricht oder um &Auml;nderungen unserer Leistungen in der
Datenschutzerkl&auml;rung umzusetzen, z.B. bei der Einf&uuml;hrung neuer Services. F&uuml;r Ihren
erneuten Besuch gilt dann die neue Datenschutzerkl&auml;rung.</p>

<p style="font-size:18pt;"><b>Fragen an den Datenschutzbeauftragten</b></p>

<p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden
Sie sich direkt an die f&uuml;r den Datenschutz verantwortliche Person in unserer Organisation:
<br>
<br>    <a href="mailto:datenschutz@ba-sachsen.de">datenschutz@ba-sachsen.de</a></p>

