<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backbutton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headertitleback">Über</ion-title>
	<ion-title class="headerlogoback">
		<img alt="logo" src="assets/studieren_im_markt_portal_logo_blank.svg" class="headerlogosizing"/>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="bgdiv">
<p><b>Über diese App</b>
<br>
<br>Diese App ist als Gruppenprojekt des Studiengangs Wirtschaftsinformatik Matrikel 2016 an der Berufsakademie Glauchau im Modul Managementtechniken im IT-Projekt entstanden.
<br>
<br>Für Rückfragen, die die App oder das Projekt betreffen, wenden Sie sich bitte an:
<br>_Person eintragen_
</p>
</div>
</ion-content>