<ion-content padding="true">
  <div class="logindiv">
    <img src="assets/ba_glauchau_logo.svg" class="loginfullwidth"/>
    <br/>
    <p>
      Willkommen in der App der BA-Glauchau!
      <br/>
      Um Zugriff zu erhalten, müssen Sie Ihre E-Mail-Adresse eingeben.
      <br/>
      Sie werden eine Bestätigungsmail erhalten, welche Ihnen Zugang zur App gewährt.
    </p>
    <ion-item style="margin: 5vh 1vw 5vh 1vw;" lines="full">
      <ion-input #emailInput type="email" color="dark" placeholder="E-Mail-Adresse"></ion-input>
    </ion-item>
    <ion-button ion-button full (click)="doLogin(emailInput)" class="loginfullwidth">Login anfordern</ion-button>
  </div>
</ion-content>