mat-toolbar {
  background-color: lightcoral;
}

mat-toolbar button{
  background-color: transparent;
  color: inherit;
}
#navigation {
  background-color: lightblue;
  min-width: 200px;
  padding: 5px;

}

.spacer{
  flex: 1 1 auto;
}
mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer {
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: lightcoral;
  position: fixed;
}

#footer table {
  width: 100%;
}

.linkButton {
  display: block;
  margin: auto;
  width: 100%;
  background-color: lightcoral;
  color: darkgray;
}

.activeLink {
   color: black;
 }

