<mat-toolbar>
  <h1 class="example-app-name">BA Glauchau</h1>
  <span class="spacer"></span>
  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>

<!--<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #navigation mode="over" id="navigation">
      <!-- Navigation List -->
    <!--<div *ngFor="let button of navigationButtons">
      <button mat-button routerLink="{{button.link}}" (click)="navigation.toggle()"><mat-icon>{{button.icon}}</mat-icon>{{button.displayText}}</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Display Content-->
    <!--<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>-->

<div id="content">
  <router-outlet></router-outlet>
</div>
<div id="footer">
  <table>
    <tr>
      <td *ngFor="let button of navigationButtons">
        <button class="linkButton" [ngClass]="{'activeLink': activeLink === button.link}" mat-button routerLink="{{button.link}}" (click)="setActiveNavigation(button.link)"><mat-icon>{{button.icon}}</mat-icon></button>
      </td>
    </tr>
  </table>
</div>
