<ion-header>
  <ion-toolbar>
    <ion-title>Kontaktdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="contactItem">
    <ion-grid>
      <ion-row>
            <ion-col size="2">
              <ion-icon name="contact"></ion-icon>
            </ion-col>
            <ion-col size="10" lines="full">
              <ion-label>{{contactItem.firstName}}</ion-label>
            </ion-col>
        </ion-row>
      <ion-row>
              <ion-col size="2">
                <ion-icon name="contact"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-label>{{contactItem.lastName}}</ion-label>
              </ion-col>
            </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="call"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <a href="tel:{{contactItem.telNumber}}">{{contactItem.telNumber}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="mail"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <a href="mailto:{{contactItem.email}}">{{contactItem.email}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label>{{contactItem.room}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="list-box"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-label>{{contactItem.responsibility}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="2">
            <ion-icon name="contacts"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-label>{{contactItem.course.longText}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
              <ion-icon name="body"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-label>{{contactItem.type.name}}</ion-label>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
